 @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap'); 
*{
    padding: 0px;
    margin: 0px;
}
.log{
    padding: 0 20px;
}
span{
    color: rgb(241, 186, 22);
}
body{
   background-color: rgb(250, 251, 253);
   padding:0 0;
   font-family: 'Titillium Web', sans-serif;
   font-size:15px;
}
main{
    padding:0 20px;
}
h3{
    /* padding: 30px; */
    text-align: center;
    color: rgb(8, 8, 34);
}
.home h3{
    /* padding: 30px; */
    text-align: left;
    color: rgb(8, 8, 34);
}
h2{
    text-align: center;
    color: rgb(8, 8, 34); 

}
/* .home h1{
    position: relative;
    font-size: 14vw;
    color: #000;
    -webkit-text-stroke:0.5vw #fff;
    text-transform: uppercase;
}
.home h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
     -webkit-text-stroke: 0vw #000;
     border-right: 2em solid #4768a4;
     overflow: hidden;
     animation: animate 6 linear infinite;
}
#keyframes animate{
    0%
    {
         width: 0;
    }
    70%
    {
        width:100%;
    } */

header{
     
    height: 30px;
      
    display: flex;
    color: white;
    background-color: rgb(13, 2, 33);
    justify-content: space-between;
    padding: 20px 10px;
    /* margin: 2px 2px;*/
     /* position: fixed;    */
    z-index: 2;

}

header i{
    color: rgb(241, 186, 22);
    cursor: pointer;
    padding: auto;
    margin: 10px 10px;
    font-size: 30px;
    /* position: fixed;
    z-index: 2; */
}
.header i:hover{
    font-size: 40px;
}
.home {
         
       width: auto;
       height: auto;
       
       background-color: #fff;
}
ul li a{
    text-decoration: none;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    background: #fff;
    height: 100vh;
    width:350px;
    padding-top: ; 
    width: 30%;
    text-align: center;
    justify-content: center;
    gap: 20px;
    z-index:1000;
    list-style:none;
    position: absolute;
    transition:  all 0.7s ease-in-out;
    left: 100%;

}
ul .active{
    left: 0;
}

@media all and (min-width:500px) {
    body{
        
        text-align: center;
        justify-content: center;
        background: #fff;
        padding:0 30px;
    }

    .home {
     
        margin-top: 60px 0; 
        height: 400px;
        align-content: center;
    }
    .home h3{
        
       padding: 15px 0;
        text-align: center;
    }
    .home h1{
    
        text-align: left;
        font-size: 60px;
    }
    .home p{
        text-align: center;
        font-size: 40px;
        font-weight: 200;
    }
    .about p{
        text-align: center;
        font-size: 30px;
        font-weight:200;
    }
    form input{
        width: 50%;
    text-align: center;
        justify-content:center;
    }
    .c {
        display: grid;
    grid-template-columns: 40% 40%;
    }
    .service p{
       
        /* text-align:center; */
        font-size: 30px;
        font-weight: 200;
    }
    footer{
        text-align:center;
    }
    
    .field{
        width: 80%;
    }
    form{
       text-align: center;
       width: 50%;
    }
    .textip{
        width: 80%;

    }
    h1{
        text-align: center;
    }
    h3{
        font-size: 20px;
        font-weight: 100px;
        color: rgb(13, 2, 33);
    }
    .abt p{
        text-align: center;
        font-size: 30px;
    }
    
    .cal{
        padding-left: 5%;
    }
    .field{
        align-items: center;
        justify-content: center;
    }
    .try{
        display: flex;
        justify-content: space-between;
        padding: 0 30%;
    }
    .project1{
        height: 200px;
        margin-left: 20%;
        width: 30%;
    }
    .project{
        height: 200px;
    
        width: 30%;
    }
    main{
        padding: 2px 40px;
    }
    form{
        padding: 0 70px;
    }
}
@media all and(min-width:696px) {
    
}
@media all and(max-width:583px) {
    main{
        display: flex;
        flex-direction: column;
    }
    .home{
        height: 400px;
        padding-bottom: 20px;
    }
   .home h1{
        font-size: 60px;
    }
}

.about{
    color: rgb(11, 13, 11);
    background-color: #fff;
    /* margin-top: 30px; */
	padding: 6px 2px 30px;

}
.about button{

    background: transparent;
	font-size: 14px;
	/* margin-top: 30px; */
    text-align: center;

	padding: 16px 20px 30px;
	border-radius: 3px;
	border: 2px solid rgb(13, 2, 33);
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 6rem;
    height: 1%;
	color:rgb(255, 191, 0);
	cursor: pointer;
	
    flex: 100%;
}
.about button:hover{
    color: rgb(255, 191, 0);
    font-size: 20px;
}
.about  button a{
    color: #000;
    text-decoration: none;
    /* display: flex; */
    list-style: none;
    padding: 0 0;
}
.service{
    width: auto;
    height: 100px;
    background-color:#fff ;
    /* box-shadow: 2px 2px 2px #000; */
    display: grid;
    grid-template-columns: auto;
    justify-content: inline-block;
}
/* project */

.project{
    width: auto;
    padding-bottom: 10px;
       height: 140px;
       text-align: center;
       background-color: rgb(237, 235, 235);
       /* box-shadow: 1px 1px 2px rgb(13, 2, 33); */
       display: grid;
       grid-template-columns: auto;
       justify-content: inline-block;
       border-radius: 12px;
}
.project button{
    background: rgb(13, 2, 33);
	font-size: 14px;
	margin-top: 30px; 
    text-align: center;
	padding: 16px 16px 30px;
	border-radius: 2px;
	border: 1px solid #D4D3E8;
	font-weight: 700;
	display: flex;
    flex-direction: row;
	align-items: center;
	width:1rem;
    height: 0.5rem;
	color: rgb(255, 191, 0);
	cursor: pointer;
    text-decoration: none;
    align-items: baseline;
    
	
    flex: 100%;
}
.project button:hover{
    background: transparent;
}
.project button a{
    color: rgb(255, 191, 0);
    text-decoration: none;
    align-items:center;
}
.project button .prolink{
   
    background: rgb(13, 2, 33);

    width: 2rem;
    height: 1rem;
}
/* project1 */
.project1{
    width: auto;
    padding-bottom: 10px;
       height: 140px;
       text-align: center;
       background-color: rgb(237, 235, 235);
       /* box-shadow: 1px 1px 2px rgb(13, 2, 33); */
       display: grid;
       grid-template-columns: auto;
       justify-content: inline-block;
       border-radius: 12px;
}
.project1 button{
    background: rgb(13, 2, 33);
	font-size: 14px;
	margin-top: 30px; 
    text-align: center;
	padding: 16px 16px 30px;
	border-radius: 2px;
	border: 1px solid #D4D3E8;
	font-weight: 700;
	display: flex;
    flex-direction: row;
	align-items: center;
	width:1rem;
    height: 0.5rem;
	color: rgb(255, 191, 0);
	cursor: pointer;
    text-decoration: none;
    align-items: baseline;
    
	
    flex: 100%;
}
.project1 button:hover{
    background: transparent;
}
.project1 button a{
    color: rgb(255, 191, 0);
    text-decoration: none;
    align-items:center;
}

.project1 button .prolink{
   
    background: rgb(13, 2, 33);

    width: 2rem;
    height: 1rem;
}
/* form */
form{
    align-items: center;
    align-self: center;
}

.c{
    display: flex;
    
}
img{
    width: 30px;
    height: auto;
}
.mobileCarrier{
    align-items: left;
    justify-content: left;
}
.field{
    background: transparent;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 3px;
	border: 1px solid #D4D3E8;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 80%;
	color: #000;
	/* box-shadow: 4px 4px 4px #000; */
	cursor: grab;
	
    flex: 100%;
}
.textip{
    background: transparent;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 3px;
	border: 1px solid #D4D3E8;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 80%;
	color: #000;
	/* box-shadow: 4px 4px 4px #000; */
	cursor: grab;
	
    flex: 100%;
}
.button button{
    background: transparent;
	font-size: 14px;
	margin-top: 30px;
    text-align: center;
	padding: 16px 20px;
	border-radius: 3px;
	border: 3px solid rgb(13, 2, 33);
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 5rem;
    height: 2rem;
	color: #000;
	cursor: pointer;
	
    flex: 100%;
}
.button button:hover{
    font-size: large;
}
footer{
    height: 190px;
    background: #4768a4;
}
footer p{
    color: #fff;
    margin-top: 30px;
	padding: 16px;
}
footer .social{
    text-align: center;
    font-size: medium;
}

/*     
.button a{
    color: #fff;
    font-size: 14px;
} */